html {
    background-color: grey;
}
html, body {
    height: 100%;
    width: 100%;
    font-family: 'Roboto', sans-serif;
    --navbar-color: lightgray;
  }
h1 {
    text-align: center;
}

/* body {
  display: grid;
  grid-template-columns: 20% 20% 20% 20% 20%;
  grid-template-rows: 20% 20% 20% 20% 20%;
} */

.statement {
    text-align: center;
}

footer {
    text-align: center;
}
  
.navbar__menu {
    display: flex;
    align-items: center;
    justify-content: space-around;
    min-width: 400px;
  }
  
.navbar__login {
    display: flex;
    align-items: center;
    justify-content: space-around;
    min-width: 200px;
  }

  img {
    max-width: 250px;
    display: grid;
  }

  .contacts {
    text-decoration: none;
  }